body{
background-color:#00bfff;
margin:0px;
}

header{
	width:100%;
	background-color:#0099ff;
	height:150px;
	border-bottom:2px solid white;
}

nav{
width:100%;
height:50px;

background-color:#3385ff;	
margin-top:5px;
		
}
.clr
{
clear:both;	
}
.cont{
margin-top:10px;
background-color:#00bfff;
width:900px
height:auto;	
}
.logo
{
width:500px;
float:left;	
margin: 0 auto;	
}
#lid{
	margin-top:10px;
width:400px;	
height:120px;
}
.hddetails
{
width:500px;
float:right;	
margin: 0 auto;	
		
}
#hdpara{
	float:right;
	color:white;
	margin-right:10px;
}
#hdpara4
{
	float:right;
	color:white;
	margin-top:60px;
	margin-left:50px;
	margin-right:10px;
	
}
.ul1{
	
 list-style-type:none;	

}
.ul1 li{

display:inline;
color:white;
float:left;
padding:20px;
line-height:20px;
margin-bottom:10px;
}
.ul1 li a:link{
	
color:white;
font-size:20px;
font-family:Calibri;
text-decoration:none;	
font-weight:bold;
text-align:center
}
.ul1 a:hover{
    background-color: #ccebff;
	color:red;
	text-decoration:underline;
	 border: 3px solid  white;
    border-radius: 12px;
}


section
{
	
width:750px;
height:650px;
	
float:left;	
margin-top:5px;

}
aside
{
	margin-top:25px;
width:200px;
height:650px;
float:right;

	
}
footer
{
	width:100%;
	height:80px;
	background-color:#3385ff;
	
}
#footerdet
{	
margin-top:30px;
font-weight:bold;

width:340px;
height:40px;	
float:left;
margin-left:20px;
}
#footerdet a {
text-decoration:none;	
color:white;
word-spacing:20px;	
margin-top:10px;
	 
}
#footpara
{
color:white;
margin-top:10px;
float:right;	
margin-right:5px;	
}
#facul li
{
	color:white;
font-size:20px;
font-family:Calibri;

font-weight:bold;
text-align:center;
	padding-top:40px;
}
#facul li a {
color:white;	
text-decoration:none;
float:left;
	
}
#facul a:hover{
    background-color: #ccebff;
	color:white;
	
	 border: 3px solid  white;
    border-radius: 12px;
}

#facul
{
	list-style-type:none;
	
}
#SECHEAD
{
	color:white;
text-align:center;
border: 3px solid  white;
    border-radius: 12px;	

}
#faimg
{
width:150px;
height:150px;	
margin-left:50px;
margin-top:20px;
 border: 3px solid  white;
border-radius: 15px 50px 30px	;
}
#info
{
height:300px;
width:500px;
	
margin-left:10px;
color:white;
	
}
#sechead
{
color:white;	
margin-left:10px;	
}
#parasec{
color:white;	
text-align:left;
margin-left:10px;		
font-family:;
font-weight:bold;
float:left;	
}
#A
{
WIDTH:200PX;
height:200px;	
	
}
#ad
{
margin-top:90px;
WIDTH:200PX;
height:350px;	
	
	
}