body{
background-color:white;
margin:0px;
}

header{
	width:100%;
	background-color:#0099ff;
	height:150px;
	border-bottom:2px solid #007acc;
}

nav{
width:100%;
height:50px;

background-color: #ff66b3;	
margin-top:5px;
		
}
.cont{

background-color:white;	
width:900px
height:500px;	
}
section
{
width:500px;
height:500px;
background-color:#ffcccc;	
float:left;	
}
aside
{
background-color:#99ffd6;
width:400px;
height:500px;
float:right;
	
}
.clr
{
clear:both;	
}

footer
{
	width:100%;
	height:60px;
	background-color:red;
	
}
.logo
{
width:500px;
float:left;	
margin: 0 auto;	
}
#lid{
	margin-top:10px;
width:400px;	
height:120px;
}
.hddetails
{
width:500px;
float:right;	
margin: 0 auto;	
		
}
#hdpara{
	float:right;
	color:white;
	margin-right:10px;
}
#hdpara4
{
	float:right;
	color:white;
	margin-top:60px;
	margin-left:50px;
	margin-right:10px;
	
}
.ul1{
	
 list-style-type:none;	

}
.ul1 li{
list-style:none;
display:inline;
color:white;

padding:20px;
}
.ul1 a:link{
	
color:white;
font-size:20px;
 font-family:Calibri;
 text-decoration:none;	
margin:5px;
text-align:center
}
